/* settings for daily traffic section at 1745px*/
@media (min-width: 1745px) {
.midGraphs{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 1fr;
}

.daily {
margin-left: .3em;
}

.daily h3{
padding-bottom: .8em;
font-size: 1em;
}

.mobile h3{
  padding-bottom: .8em;
  font-size: 1em;
  margin-left: 30em;
}

.doughnutGraphPlaceHolder,
.barGraphPlaceHolder{
width: 800px;
height: 450px;
}
.doughnutGraphPlaceHolder,{
  margin-left: 30em;
}
}
