/* settings for navigation at 1745px */
@media (min-width: 1745px) {

nav {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 70px 70px 70px 70px;
}

nav img {
margin-top: 1.8em;
max-width: 2em;
margin-left: .5em;
}

}
