/* settings for new members and recent activity at 1745px*/
@media (min-width: 1745px) {

.recentActivity h3,
.newMembers h3{
font-size: 1em;
margin-left: 3.9em;
}


.recentActivity{
  margin-left: 30em; 
}

.date {
margin-left: 25em;
font-size: 1.2em;
}

.arrow {
margin-left: 27em;
font-size: 1.2em;
}

.members-text{
margin-left: 1em;
}

.newMembersName,
.members-text a{
font-size: 1.2em;
margin-left: 3em;
width: 18.75em;
}

.activeMembersName{
width: 31.25em;
font-size: 1.2em;
margin-left: 3em;
}

.timeSinceActivity{
margin-left: 3.6em;
}

.newMembers-container img,
.recentActivity-container img{
margin-left: 4em;
}

.newMembers,
.recentActivity,
.message,
.settings{
width: 835px;
}


}
