/* settings for traffic section at 1745px */
@media (min-width: 1745px) {

.traffic-header{
margin-left: .5em;
}

.traffic-header h3,
.traffic-nav-link{
font-size: 1em;
}

.month{
margin-right: -3em;
}

.traffic-nav{
margin-left: 102em;
}

.lineGraphPlaceHolder{
width: 900px;
height: 440px;
}
}
