/* styling for the alert bar at 320px */
.alert {
@include grid;
grid-row-start: 2;
grid-row-end: 3;
@include colorOne;
@include white;
@include fontSizeTwo;
@include fontType;
@include letterSpacing;
height: 1.64em;
@include borderRadius;
}

.alertText {
@include marginLeftOne;
margin-top: .16em;
}
