/* styling for the alert bar at 320px */
.alert {
@include grid;
grid-row-start: 2;
grid-row-end: 3;
@include lightPurple;
@include white;
@include fontTypeOpenSans;
@include letterSpacingPointZeroSevenEm;
height: 2.6em;
font-size: 0.6em;
@include borderRadiusPointTwoFiveEm;
}

.alertText {
@include marginLeftPointFiveEm;
margin-top: .16em;
}
