/* styling for the alert bar at 320px */
.alert {
display: grid;
grid-row-start: 2;
grid-row-end: 3;
background-color: #737ABF;
color: white;
font-size: .8em;
font-family: 'Open Sans';
letter-spacing: .07em;
height: 1.64em;
border-radius: .25em;
}

.alertText {
margin-left: .5em;
margin-top: .16em;
}
