/* setting up css grid layout */
body {
@include grid;
@include oneFullScreenColumn;
@include TopZeroPx;
margin: 0px;
grid-template-areas:
"header"
"navigation"
"main";
}

header {
grid-area: header;
}

nav {
grid-area: navigation;
}

main {
grid-area: main;
}
