/* styling for the dashboard and search bar at 320px*/
.main-header {
@include grid;
grid-template-columns: .5fr 2fr;
@include rows;
grid-gap: .8em;
}

.headline {
@include fontSizeFour;
@include marginTopTwo;
@include marginBottom;
@include colorTwo;
}

.main-header-search {
padding-top: .5em;
padding-left: 4.5em;
@include borderOne;
@include marginBottomTwo;
padding-bottom: .3125em;
}
