/* styling for the dashboard and search bar at 320px*/
.main-header {
@include grid;
grid-template-columns: .5fr 2fr;
@include autoRows;
grid-gap: .8em;
}

.headline {
@include fontSizePointNineEm;
@include marginTopPointEightEm;
@include marginBottomPointFiveEm;
@include darkGreyOne;
}

.main-header-search {
padding-top: .5em;
padding-left: 4.5em;
@include borderPointZerpSixTwoFiveSolid;
@include marginBottomPointSixTwoFiveEm;
padding-bottom: .3125em;
}
