/* styling for the dashboard and search bar at 320px*/
.main-header {
@include grid;
grid-template-columns: .5fr 2fr;
@include autoRows;
grid-gap: 1em;
}

.headline {
font-size: .8em;
margin-left: .4em;
@include marginTopPointEightEm;
@include marginBottomPointFiveEm;
@include darkGreyOne;
}

.main-header-search {
padding-top: .5em;
padding-left: 5.5em;
border: .02em solid #dcdcdc;
background-color: rgba(220, 220, 220,.25);
border-radius: .25em;
max-width: 13em;
@include marginBottomPointSixTwoFiveEm;
padding-bottom: .3125em;
font-size: .8em;
}

.main-header-search input{
max-width: 11em;
margin-left: .9em;
}
