/* styling for the header at 320px*/
header {
@include lightPurple;
margin: 0px 0px;
@include grid;
grid-template-columns: 2fr repeat(2, .4fr) 1fr;
@include rows;
}

h1 {
@include white;
@include fontSizeOne;
@include fontType;
@include fontWeightLight;
margin-left: 0.90em;
margin-top: .7em;
@include columnStartOne;
}

.your {
@include fontWeightBold;
}

.tradeMark {
@include fontSizeFour;
font-weight: 50;
}

.bell-icon {
@include maxWidth;
@include columnStartTwo;
margin-top: 41%;
}

.vl {
border-left: 0.120em solid #483d8b;
height: 1.6em;
@include position;
left: 61%;
margin-left: -0.1875em;
top: 1%;
}

.signedInUserProfilePic {
max-width: 1.6em;
max-height: 1.8em;
@include borderRadiusTwo;
margin-top: 25%;
@include ColumnStartThree;
@include rowStartOne;
}

.signedInUserName {
@include white;
font-size: .72em;
@include fontType;
@include fontWeightLight;
letter-spacing: .03125em;
margin-top: 17%;
grid-column-start: 4;
grid-column-end: 5;
@include rowStartOne;
}
