/*  styling for the message users section at 320px  */
.message {
@include grid;
@include borderOne;
}

.message h3 {
@include fontSizeThree;
@include marginTop;
margin-bottom: 1.4em;
margin-left: 1em;
@include colorTwo;
@include groupOne;
}

.button-primary,
.button-primary2 {
background-color: #7275BC;
border-radius: .4375em;
width: 20em;
height: 2.5em;
@include white;
@include fontSizeFour;
@include fontType;
letter-spacing: .03em;
@include marginLeftOne;
margin-bottom: .4375em;
}

.form-field {
border-radius: .1875em;
width: 20em;
height: 2em;
@include marginLeftOne;
@include marginBottomTwo;
@include fontSizeFour;
@include fontType;
letter-spacing: .03em;
color: grey;
}

.form-area {
border-radius: .1875em;
width: 20em;
height: 6em;
@include marginLeftOne;
@include marginBottomTwo;
@include fontSizeFour;
@include fontType;
letter-spacing: .03em;
color: grey;
}
