/*  styling for the message users section at 320px  */
.message {
@include grid;
@include borderOne;
}

.message h3 {
@include fontSizeThree;
@include marginTop;
@include marginBottonThree;
@include marginLeftTwo;
@include darkGreyOne;
@include groupOne;
}

.button-primary,
.button-primary2 {
background-color: #7275BC;
@include borderRadiusThree;
@include widthOne;
@include heightOne;
@include white;
@include fontSizeFour;
@include fontType;
@include letterSpacingTwo;
@include marginLeftOne;
@include marginBottomFour;
}

.form-field {
@include borderRadiusFour;
@include widthOne;
height: 2em;
@include marginLeftOne;
@include marginBottomTwo;
@include fontSizeFour;
@include fontType;
@include letterSpacingTwo;
@include darkGreyTwo;
}

.form-area {
@include borderRadiusFour;
@include widthOne;
height: 6em;
@include marginLeftOne;
@include marginBottomTwo;
@include fontSizeFour;
@include fontType;
@include letterSpacingTwo;
@include darkGreyTwo;
}
