/*  styling for the message users section at 320px  */
.message {
@include grid;
@include borderPointZerpSixTwoFiveSolid;
}

.message h3 {
@include fontSizePointSixSixEm;
@include marginOnePointSevenEm;
@include marginBottonOnePointFourEm;
@include marginLeftOneEm;
@include darkGreyOne;
@include groupOne;
}

.button-primary,
.button-primary2 {
background-color: #7275BC;
@include borderRadiusPointFourThreeSevenFiveEm;
@include widthTwentyEm;
@include heightTwoPointFiveEm;
@include white;
@include fontSizePointNineEm;
@include fontTypeOpenSans;
@include letterSpacingPointZeroThreeEm;
margin-left: .5em;
@include marginBottomPointFourThreeSevenFiveEm;
}

#cancel{
margin-left: .5em;
}

.form-field {
@include borderRadiusPointOneEightSevenFiveEm;
@include widthTwentyEm;
height: 2em;
@include marginLeftPointFiveEm;
@include marginBottomPointSixTwoFiveEm;
@include fontSizePointNineEm;
@include fontTypeOpenSans;
@include letterSpacingPointZeroThreeEm;
@include darkGreyTwo;
}

.form-area {
@include borderRadiusPointOneEightSevenFiveEm;
@include widthTwentyEm;
height: 6em;
@include marginLeftPointFiveEm;
@include marginBottomPointSixTwoFiveEm;
@include fontSizePointNineEm;
@include fontTypeOpenSans;
@include letterSpacingPointZeroThreeEm;
@include darkGreyTwo;
}
