/* styling for the navigation at 320px*/
nav {
background-color: #4B4D72;
@include grid;
grid-template-columns: repeat(4, .15fr);
@include rows;
padding-left: 5.3125em;
}

nav img {
max-width: 1em;
margin-top: .6em;
margin-bottom: .2em;
}

main {
@include grid;
@include fullScreen;
@include rows;
}
