/*  styling for both the new members and recent activity sections at 320px  */
.newMembers,
.recentActivity {
@include grid;
@include borderPointZerpSixTwoFiveSolid;
@include borderRadiusPointThreeOneTwoFiveEm;
}

.newMembers h3,
.recentActivity h3 {
@include fontSizePointSixSixEm;
@include marginOnePointSevenEm;
@include marginBottonOnePointFourEm;
@include marginLeftOneEm;
@include darkGreyOne;
@include groupOne;
}

.newMembers-container,
.recentActivity-container {
@include grid;
grid-template-columns: 49px 198px 60px;
@include autoRows;
margin-bottom: 1em;
border-top: 1px solid #e3e4ec;
}

.profile-image {
width: 2.5em;
@include borderRadiusFiftyPercent;
@include columnStartOne;
margin-left: .19em;
margin-top: .5em;
}

.members-text {
@include columnStartTwo;
margin-top: .5em;
}

.newMembersName,
.timeSinceActivity {
@include TopZeroPx;
margin-bottom: .125em;
}

.activeMembersName{
width: 200px;
@include marginTopPointOneEm;
}

.timeSinceActivity{
margin-top: -1em;
}

.newMembers-text a {
@include fontSizePointNineEm;
}

.date,
.arrow {
@include ColumnStartThree;
margin-top: .5em;
}

.arrow {
margin-left: 1.7em;
margin-top: .7em;
}
