/*  styling for both the new members and recent activity sections at 320px  */
.newMembers,
.recentActivity {
@include grid;
@include borderOne;
@include borderRadiusFive;
}

.newMembers h3,
.recentActivity h3 {
@include fontSizeThree;
@include marginTop;
@include marginBottonThree;
@include marginLeftTwo;
@include colorTwo;
@include groupOne;
}

.newMembers-container,
.recentActivity-container {
@include grid;
grid-template-columns: 49px 198px 60px;
@include rows;
margin-bottom: 1em;
}

.profile-image {
width: 2.5em;
@include borderRadiusTwo;
@include columnStartOne;
margin-left: .19em;
}

.members-text {
@include columnStartTwo;
}

.newMembersName,
.timeSinceActivity {
@include noTop;
margin-bottom: .125em;
}

.activeMembersName{
width: 200px;
@include marginTopThree;
}

.timeSinceActivity{
margin-top: -1em;
}

.newMembers-text a {
@include fontSizeFour;
}

.date,
.arrow {
@include ColumnStartThree;
margin-top: .2px;
}

.arrow {
margin-left: 1.7em;
margin-top: .01em;
}
