
/*  styling for the settings section at 320px  */
.settings {
@include grid;
@include borderOne;
@include borderRadiusFive;
}

.settingsHeadName {
@include fontSizeThree;
@include marginTop;
margin-bottom: .4em;
@include marginLeftTwo;
@include colorTwo;
@include groupOne;
}

.button-disabled {
@include backgroundColorOne;
@include borderRadiusThree;
@include widthOne;
@include heightOne;
@include white;
@include fontSizeFour;
@include fontType;
@include letterSpacingTwo;
@include marginLeftOne;
@include marginBottomFour;
}

.form-field {
@include borderRadius;
}

            /* slider  */
.toggles {
@include flexOne;
justify-content: space-between;
align-items: center;
@include widthTwo;
margin: .625em 0;
}

.toggles h3 {
@include marginZero;
@include marginRightOne;
@include fontSizeTwo;
@include fontWeightLight;
@include fontType;
@include letterSpacingTwo;
@include colorTwo;
margin-left: .625em;
}

.switch {
@include positionTwo;
display: inline-block;
width: 5.15em;
@include heightTwo;
@include marginRightTwo;
}

.switch input {
@include opacityOne;
width: 0;
@include heightThree;
}

.slider {
@include position;
cursor: pointer;
@include topZero;
@include leftZero;
right: 0;
bottom: 0;
@include backgroundColorOne;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
@include position;
content: "";
@include heightFour;
@include widthThree;
left: .55em;
bottom: .06875em;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked+.slider {
background-color: #8486CB;
}

input:focus+.slider {
box-shadow: 0 0 .1875em #8486CB;
}

input:checked+.slider:before {
-webkit-transform: translateX(2.1875em);
-ms-transform: translateX(2.1875em);
transform: translateX(2.1875em);
}

.slider:after {
font-size: 1.2em;
content: 'OFF';
@include white;
display: block;
@include position;
transform: translate(-50%, -50%);
top: 50%;
left: 67%;
}

input:checked+.slider:after {
content: 'ON';
left: 27%;
}

.slider.round {
border-radius: 2.1875em;
}

.slider.round:before {
@include borderRadiusTwo;
}

.button-disabled{
@include marginLeftSeven;
}

.toggles{
justify-content: flex-start;
}



.setProfile{
@include paddingRightOne;
}
