
/*  styling for the settings section at 320px  */
.settings {
@include grid;
@include borderPointZerpSixTwoFiveSolid;
@include borderRadiusPointThreeOneTwoFiveEm;
}

.settingsHeadName {
@include fontSizePointSixSixEm;
@include marginOnePointSevenEm;
margin-bottom: .4em;
@include marginLeftOneEm;
@include darkGreyOne;
@include groupOne;
}

.button-disabled {
@include lightGrey;
@include borderRadiusPointFourThreeSevenFiveEm;
@include widthTwentyEm;
@include heightTwoPointFiveEm;
@include white;
@include fontSizePointNineEm;
@include fontTypeOpenSans;
@include letterSpacingPointZeroThreeEm;
@include marginLeftPointFiveEm;
@include marginBottomPointFourThreeSevenFiveEm;
}

.form-field {
@include borderRadiusPointTwoFiveEm;
}

            /* slider  */
.toggles {
@include flex;
justify-content: space-between;
align-items: center;
@include widthOneHundPercent;
margin: .625em 0;
}

.toggles h3 {
@include marginZero;
@include marginRightFourEm;
@include fontSizePointEightEm;
@include fontWeightLighter;
@include fontTypeOpenSans;
@include letterSpacingPointZeroThreeEm;
@include darkGreyOne;
margin-left: .625em;
}

.switch {
@include positionRelative;
display: inline-block;
width: 5.15em;
@include heightOnePointSevenFiveEm;
@include marginRightPointThreeOneTwoFiveEm;
}

.switch input {
@include opacitZero;
width: 0;
@include heightZero;
}

.slider {
@include positionAbsolute;
cursor: pointer;
@include topZero;
@include leftZero;
right: 0;
bottom: 0;
@include lightGrey;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
@include positionAbsolute;
content: "";
@include heightOnePointFiveSixTwoFiveEm;
@include widthOnePointFiveSixTwoFiveEm;
left: .55em;
bottom: .06875em;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked+.slider {
background-color: #8486CB;
}

input:focus+.slider {
box-shadow: 0 0 .1875em #8486CB;
}

input:checked+.slider:before {
-webkit-transform: translateX(2.1875em);
-ms-transform: translateX(2.1875em);
transform: translateX(2.1875em);
}

.slider:after {
@include fontSizeOnePointTwoEm;
content: 'OFF';
@include white;
display: block;
@include positionAbsolute;
transform: translate(-50%, -50%);
top: 50%;
left: 67%;
}

input:checked+.slider:after {
content: 'ON';
left: 27%;
}

.slider.round {
border-radius: 2.1875em;
}

.slider.round:before {
@include borderRadiusFiftyPercent;
}

.button-disabled{
@include marginLeftPointThreeEm;
}

.toggles{
justify-content: flex-start;
}



.setProfile{
@include paddingRightTwoPointThreeEm;
}
