
/*  styling for the settings section at 320px  */
.settings {
@include grid;
@include borderOne;
border-radius: .3125em;
}

.settingsHeadName {
@include fontSizeThree;
@include marginTop;
margin-bottom: .4em;
margin-left: 1em;
@include colorTwo;
@include groupOne;
}

.button-disabled {
background-color: #B3B3B3;
border-radius: .4375em;
width: 20em;
height: 2.5em;
@include white;
@include fontSizeFour;
@include fontType;
letter-spacing: .03em;
@include marginLeftOne;
margin-bottom: .4375em;
}

.form-field {
@include borderRadius;
}

            /* slider  */
.toggles {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
margin: .625em 0;
}

.toggles h3 {
margin: 0;
margin-right: 4em;
@include fontSizeTwo;
@include fontWeightLight;
@include fontType;
letter-spacing: .03em;
@include colorTwo;
margin-left: .625em;
}

.switch {
position: relative;
display: inline-block;
width: 5.15em;
height: 1.75em;
margin-right: .3125em;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
@include position;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #B3B3B3;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
@include position;
content: "";
height: 1.5625em;
width: 1.5625em;
left: .55em;
bottom: .06875em;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked+.slider {
background-color: #8486CB;
}

input:focus+.slider {
box-shadow: 0 0 .1875em #8486CB;
}

input:checked+.slider:before {
-webkit-transform: translateX(2.1875em);
-ms-transform: translateX(2.1875em);
transform: translateX(2.1875em);
}

.slider:after {
font-size: 1.2em;
content: 'OFF';
@include white;
display: block;
@include position;
transform: translate(-50%, -50%);
top: 50%;
left: 67%;
}

input:checked+.slider:after {
content: 'ON';
left: 27%;
}

.slider.round {
border-radius: 2.1875em;
}

.slider.round:before {
@include borderRadiusTwo;
}

.button-disabled{
margin-left: .3em;
}

.toggles{
justify-content: flex-start;
}



.setProfile{
padding-right: 2.3em;
}
