
/*  styling for the social stats at 320px  */
.socialHeader{
font-size: .66em;
margin-top: 1.7em;
margin-bottom: .8em;
margin-left: .5em;
color: #696969;
grid-column-start: 1;
grid-column-end: 2;
text-transform: uppercase;
}

.socialStatusSection {
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-gap: .5em;
}

.social-text {
font-size: .8em;
font-family: 'Open Sans';
letter-spacing: .03em;
margin-left: -1.5625em;
}

.social-numbers {
font-size: 1.5em;
font-family: 'Open Sans';
letter-spacing: .03em;
margin-top: -.9375em;
}

.twitter-container,
.googlePlus-container,
.facebook-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
border: .0625em solid #dcdcdc;
border-radius: .3125em;
}

.social-image-twitter path,
.social-image-googlePlus path {
fill: white;
}

.social-image path {
fill: white;
}

.social-image{
margin-left: 2.5em;
margin-top: .5em;
width: 3.44em;
height: 3.125em;
background-color: rgba(112, 112, 164, 1);
border: .1875em solid rgba(112, 112, 164, 1);
border-radius: 50%;
}

.social-image-twitter,
.social-image-googlePlus {
margin-top: .5em;
margin-left: 2.8em;
width: 1.5625em;
height: 1.5625em;
background-color: rgba(112, 112, 164, 1);
border: 1em solid rgba(112, 112, 164, 1);
border-radius: 50%;
}
