
/*  styling for the social stats at 320px  */
.socialHeader{
@include fontSizeThree;
@include marginTop;
@include marginBottomFive;
@include marginLeftOne;
@include colorTwo;
@include groupOne;
}

.socialStatusSection {
@include grid;
@include fullScreen;
grid-gap: .5em;
}

.social-text {
@include fontSizeTwo;
@include fontType;
@include letterSpacingTwo;
margin-left: -1.5625em;
}

.social-numbers {
@include fontSizeFive;
@include fontType;
@include letterSpacingTwo;
margin-top: -.9375em;
}

.twitter-container,
.googlePlus-container,
.facebook-container {
@include grid;
grid-template-columns: 1fr 1fr;
@include rows;
@include borderOne;
@include borderRadiusFive;
}

.social-image-twitter path,
.social-image-googlePlus path {
fill: white;
}

.social-image path {
fill: white;
}

.social-image{
@include marginLeftThree;
@include marginTopFour;
width: 3.44em;
height: 3.125em;
@include backgroundColorTwo;
border: .1875em solid rgba(112, 112, 164, 1);
@include borderRadiusTwo;
}

.social-image-twitter,
.social-image-googlePlus {
@include marginTopFour;
@include marginLeftFour;
@include widthThree;
@include heightFour;
@include backgroundColorTwo;
border: 1em solid rgba(112, 112, 164, 1);
@include borderRadiusTwo;
}
