
/*  styling for the social stats at 320px  */
.socialHeader{
@include fontSizeThree;
@include marginTop;
margin-bottom: .8em;
@include marginLeftOne;
@include colorTwo;
@include groupOne;
}

.socialStatusSection {
@include grid;
@include fullScreen;
grid-gap: .5em;
}

.social-text {
@include fontSizeTwo;
@include fontType;
letter-spacing: .03em;
margin-left: -1.5625em;
}

.social-numbers {
font-size: 1.5em;
@include fontType;
letter-spacing: .03em;
margin-top: -.9375em;
}

.twitter-container,
.googlePlus-container,
.facebook-container {
@include grid;
grid-template-columns: 1fr 1fr;
@include rows;
@include borderOne;
border-radius: .3125em;
}

.social-image-twitter path,
.social-image-googlePlus path {
fill: white;
}

.social-image path {
fill: white;
}

.social-image{
margin-left: 2.5em;
margin-top: .5em;
width: 3.44em;
height: 3.125em;
background-color: rgba(112, 112, 164, 1);
border: .1875em solid rgba(112, 112, 164, 1);
@include borderRadiusTwo;
}

.social-image-twitter,
.social-image-googlePlus {
margin-top: .5em;
margin-left: 2.8em;
width: 1.5625em;
height: 1.5625em;
background-color: rgba(112, 112, 164, 1);
border: 1em solid rgba(112, 112, 164, 1);
@include borderRadiusTwo;
}
