
/*  styling for the traffic at 320px  */
.traffic-header {
@include grid;
grid-template-columns: .5fr 4fr;
@include rows;
}

.traffic-header h3 {
@include fontSizeThree;
@include marginTop;
@include marginBottomFive;
@include marginLeftTwo;
@include colorTwo;
@include groupOne;
}

.traffic-nav {
@include grid;
grid-template-columns: repeat(2, 50px)  55px 50px;
@include columnStartTwo;
@include marginLeftFive;
@include fontSizeTwo;
margin-left: .3125em;
margin-top: 1.25em;
}

.traffic-nav-link {
@include flexOne;
justify-content: center;
@include textAlignOne;
@include fontSizeTwo;
@include fontType;
@include letterSpacing;
@include marginRightTwo;
}

.weekly {
background-color: #94CBAD;
margin-left: -.4375em;
margin-right: .5em;
border: .1875em solid #94CBAD;
border-radius: 4.6875em;
@include heightFive;
width: 5em;
@include white;
margin-top: -.125em;
@include fontWeightBold;
letter-spacing: .08em;
}

.lineGraphPlaceHolder,
.barGraphPlaceHolder,
.doughnutGraphPlaceHolder {
@include widthTwo;
}
