
/*  styling for the traffic at 320px  */
.traffic-header {
@include grid;
grid-template-columns: .5fr 4fr;
@include rows;
}

.traffic-header h3 {
@include fontSizeThree;
@include marginTop;
margin-bottom: .8em;
margin-left: 1em;
@include colorTwo;
@include groupOne;
}

.traffic-nav {
@include grid;
grid-template-columns: 50px 50px 55px 50px;
@include columnStartTwo;
margin-left: -1.25em;
@include fontSizeTwo;
margin-left: .3125em;
margin-top: 1.25em;
}

.traffic-nav-link {
display: flex;
justify-content: center;
text-align: center;
@include fontSizeTwo;
@include fontType;
@include letterSpacing;
margin-right: .3125em;
}

.weekly {
background-color: #94CBAD;
margin-left: -.4375em;
margin-right: .5em;
border: .1875em solid #94CBAD;
border-radius: 4.6875em;
height: 1.5em;
width: 5em;
@include white;
margin-top: -.125em;
@include fontWeightBold;
letter-spacing: .08em;
}

.lineGraphPlaceHolder,
.barGraphPlaceHolder,
.doughnutGraphPlaceHolder {
width: 100%;
}
