
/*  styling for the traffic at 320px  */
.traffic-header {
display: grid;
grid-template-columns: .5fr 4fr;
grid-template-rows: auto;
}

.traffic-header h3 {
font-size: .66em;
margin-top: 1.7em;
margin-bottom: .8em;
margin-left: 1em;
color: #696969;
grid-column-start: 1;
grid-column-end: 2;
text-transform: uppercase;
}

.traffic-nav {
display: grid;
grid-template-columns: 50px 50px 55px 50px;
grid-column-start: 2;
grid-column-end: 3;
margin-left: -1.25em;
font-size: .8em;
margin-left: .3125em;
margin-top: 1.25em;
}

.traffic-nav-link {
display: flex;
justify-content: center;
text-align: center;
font-size: .8em;
font-family: 'Open Sans';
letter-spacing: .07em;
margin-right: .3125em;
}

.weekly {
background-color: #94CBAD;
margin-left: -.4375em;
margin-right: .5em;
border: .1875em solid #94CBAD;
border-radius: 4.6875em;
height: 1.5em;
width: 5em;
color: white;
margin-top: -.125em;
font-weight: bold;
letter-spacing: .08em;
}

.lineGraphPlaceHolder,
.barGraphPlaceHolder,
.doughnutGraphPlaceHolder {
width: 100%;
}
