/* settings for alert bar at 1032px */
@media (min-width: 1032px) {

.alert {
max-width: 75em;
padding-right: 74em;
@include heightThreePointFourEm;
@include fontSizePointEightEm;
}

.alertText {
margin-top: .70em;
}
.alert-banner-close{
margin-left: 72em;
margin-top: -2.1em;
}
}
