
/* settings for daily traffic section at 1032px */
@media (min-width: 1032px) {
.daily h3{
@include fontSizeOneEm;
@include marginLeftOneEm;
}

.mobile h3{
@include fontSizeOneEm;
margin-left: 10em;
}

.widget-container-half{
width:50vw
}

#mobile-chart{
  margin-left: 8em;
}

}
