
/* settings for daily traffic section at 1032px */
@media (min-width: 1032px) {
.daily h3{
@include fontSizeOne;
margin-left: 1em;
}

.mobile h3{
@include fontSizeOne;
margin-left: 9em;
}
.doughnutGraphPlaceHolder,
.barGraphPlaceHolder{
width: 460px;
height: 250px;
}

.barGraphPlaceHolder{
margin-left: 1em;
}
.doughnutGraphPlaceHolder{
margin-left: 9em;
}
}
