/* settings for dashboard at 1032px */
@media (min-width: 1032px) {

.headline{
@include fontSizeSeven;
margin-top: 1em;
}

.main-header-search {
width: 47.4em;
margin-left: -.1em;
padding-top: 1em;
padding-bottom: 2em;
}

.main-header-search input{
margin-left: 20.8em;
width: 26em;
@include marginTopThree;
}

}
