/* =================================================================================================================== */
/*                                   media queries at 1032px*/
/* =================================================================================================================== */

@media (min-width: 1032px) {

header{
width: 64em;
grid-template-columns: 830px repeat(2, 50px) 94px;
}

h1{
@include marginTopTwo;
@include fontSizeSeven;
}

.bell-icon {
margin-left: 1.4em;
max-width: 1.4em;
@include marginTopSix;
}

.vl {
margin-left: 15.7em;
@include marginTopFour;
}

.signedInUserProfilePic {
@include marginLeftThirteen;
@include widthSeven;
}

.signedInUserName {
@include marginLeftZero;
@include marginTopSix;
@include fontSizeFour;
}

}
