/* =================================================================================================================== */
/*                                   media queries at 1032px*/
/* =================================================================================================================== */

@media (min-width: 1032px) {

header{
width: 64em;
grid-template-columns: 830px repeat(2, 50px) 94px;
}

h1{
@include marginTopPointEightEm;
@include fontSizeOnePointThreeEm;
}

.bell-icon {
margin-left: 1.4em;
max-width: 1.4em;
@include marginTopOnePointFourEm;
}

.vl {
margin-left: 15.7em;
@include marginTopPointFiveEm;
}

.signedInUserProfilePic {
@include marginLeftPointSixEm;
@include maxWidthTwoEm;
}

.signedInUserName {
@include marginLeftZero;
@include marginTopOnePointFourEm;
@include fontSizePointNineEm;
}

}
