/* settings for navigation at 1032px */
@media (min-width: 1032px) {

nav {
@include grid;
grid-template-columns: 100%;
grid-template-rows: repeat(4, 70px);
}

nav img {
margin-top: 1.8em;
max-width: 2em;
@include marginLeftOne;
}

}
