/* settings for new members and recent activity at 1032px */
@media (min-width: 1032px) {

.recentActivity h3,
.newMembers h3{
@include fontSizeOne;
margin-left: 3.9em;
}

.recentActivity,
 .newMembers{
  @include widthFive;
}

.recentActivity{
  @include marginLeftTwelve;
}

.date {
@include marginLeftSixteen;
@include marginTopFour;
@include fontSizeSix;
}

.arrow {
@include marginLeftSeventeen;
@include fontSizeSix;
}

.newMembersName,
.members-text a{
@include fontSizeOne;
@include marginLeftTwo;
width: 18.75em;
}

.activeMembersName{
width: 17em;
@include fontSizeOne;
@include marginLeftTwo;
}

.timeSinceActivity{
@include marginLeftTwo;
}

.newMembers-container img,
.recentActivity-container img{
@include marginLeftTen;
}
}
