/* settings for new members and recent activity at 1032px */
@media (min-width: 1032px) {

.recentActivity h3,
.newMembers h3{
@include fontSizeOne;
margin-left: 3.9em;
}

.recentActivity,
 .newMembers{
  width: 484px;
}

.recentActivity{
  margin-left: 8em;
}

.date {
margin-left: 7em;
margin-top: .5em;
font-size: 1.2em;
}

.arrow {
margin-left: 10em;
font-size: 1.2em;
}

.newMembersName,
.members-text a{
@include fontSizeOne;
margin-left: 1em;
width: 18.75em;
}

.activeMembersName{
width: 17em;
@include fontSizeOne;
margin-left: 1em;
}

.timeSinceActivity{
margin-left: 1em;
}

.newMembers-container img,
.recentActivity-container img{
margin-left: 2em;
}
}
