/* other settings at 1032px*/

@media (min-width: 1032px) {
.traffic, .socialStatusSection {
grid-column: 1 / span 2;
}
}

@media (min-width: 1032px){
.socialStatusSection{
@include grid;
@include columnRepeatColumnThreeTimes;
grid-template-rows: 1fr;
@include paddingBottomOneEm;
@include paddingTopPointEightEm;
}
}

@media (min-width: 1032px) {
.daily, .members, .message {
grid-column: 1 / span 1;
}
}

@media (min-width: 1032px) {
.mobile, .activity, .settings {
grid-column: 2 / span 1;
}

.widget-container-full, .widget-container-half {
width: 95vw;
}
}

@media (min-width: 1032px) {
.widget-container-full {
width: 90vw;
}

.widget-container-half {
width: 45vw;
}
}
