/* settings for settings at 1032px*/

@media (min-width: 1032px) {
.button-primary2,
.button-disabled{
max-width: 15em;
margin-left: 2em;
}

.settings{
  margin-left: 8em;
  width: 484px;
}

.button-disabled{
margin-left: .3em;
}

.toggles h3{
margin-right: 4em;
}

}
