/* settings for social section at 1032px */
@media (min-width: 1032px) {
.social-text {
margin-left: -.8em;
margin-top: .2em;
@include fontSizeFive;
}

.socialHeader{
@include fontSizeOne;
@include marginLeftEighteen;
}

.twitter-container{
@include marginLeftTwo;
}

.facebook-container{
@include marginLeftTwo;
}

.googlePlus-container{
@include marginLeftTwo;
}

.twitter-container,
.googlePlus-container,
.facebook-container{
width: 18.5em;
height: 7em;
}

.social-image{
@include marginTopSeven;
}

.social-image-twitter,
.social-image-googlePlus{
@include marginTopSix;
width: 2.2em;
@include heightSix;
}
}
