/* settings for alert bar at 1900px*/
@media (min-width: 1900px) {

.alert {
margin-left: 2.01em;
width: 140.5em;
height: 3.4em;
}

.alertText {
margin-left: .8em;
margin-top: .70em;
font-size: 1.2em;
}
}
