/* settings for alert bar at 1900px*/
@media (min-width: 1900px) {

.alert {
margin-left: 2.01em;
width: 67.5em;
@include heightThreePointFourEm;
}

.alert-banner-close{
margin-left: 138.5em;
margin-top: -2.1em;
}

}
