/* settings for daily traffic section at 1900px*/
@media (min-width: 1900px) {

.mobile h3{
  margin-left: 36em;
}

.doughnutGraphPlaceHolder,
.barGraphPlaceHolder{
width: 890px;
height: 450px;
}
.doughnutGraphPlaceHolder,{
  margin-left: 36em;
}
}
