/* settings for daily traffic section at 1900px*/
@media (min-width: 1900px) {
.midGraphs{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 1fr;
}

.daily {
margin-left: .3em;
}

.daily h3{
padding-bottom: .8em;
font-size: 1em;
}

.mobile h3{
  padding-bottom: .8em;
  font-size: 1em;
  margin-left: 36em;
}

.doughnutGraphPlaceHolder,
.barGraphPlaceHolder{
width: 890px;
height: 450px;
}
.doughnutGraphPlaceHolder,{
  margin-left: 36em;
}
}
