/* settings for daily traffic section at 1900px*/
@media (min-width: 1900px) {

.daily h3{
  margin-left: 2.7em;
}

.mobile h3{
  margin-left: 41em;
}

#daily-chart{
margin-left: 2em;
}

#mobile-chart{
margin-left: 34em;
}

}
