/* =================================================================================================================== */
/*                                   media queries at 1900px*/
/* =================================================================================================================== */

@media (min-width: 1900px) {
header{
width: 118.6em;
grid-template-columns: 1647.6px 50px 50px 150px;
}

.bell-icon {
margin-left: 3.5em;
margin-top: .2em;
}

.vl {
margin-left: 36em;
}

.signedInUserProfilePic {
@include marginLeftThreeEm;
}

.signedInUserName {
margin-left: 2.7em;
}

}
