/* settings for new members and recent activity at 1900px*/
@media (min-width: 1900px) {

.recentActivity{
  margin-left: 35.2em;
}

.date {
margin-left: 30em;
}

.arrow {
margin-left: 33em;
}

.newMembersName,
.members-text a{
font-size: 1.2em;
margin-left: 3em;
}

.activeMembersName{
width: 31.25em;
font-size: 1.2em;
margin-left: 3em;
}

.timeSinceActivity{
margin-left: 3.6em;
}

.newMembers-container img,
.recentActivity-container img{
@include marginLeftEleven;
}

.newMembers,
.recentActivity,
.message,
.settings{
width: 920px;
}


}
