/* other settings at 1900px*/

@media (min-width: 1900px) {
.traffic, .socialStatusSection {
grid-column: 1 / span 2;
}
}

@media (min-width: 1900px){
.socialStatusSection{
@include grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
@include paddingBottomOne;
@include paddingTopOne;
}
}
