/* settings for social section at 1900px */
@media (min-width: 1900px) {
.social-text {
margin-left: -2.2em;
margin-top: 1.1em;
}

.google{
@include marginLeftEleven;
}

.googleNum{
margin-left: 2.7em;
}

.socialHeader{
@include marginLeftTen;
}

.twitter-container{
margin-left: 1.6em;
}

.facebook-container{
margin-left: 1.6em;
}

.googlePlus-container{
margin-left: 1.6em;
}

.twitter-container,
.googlePlus-container,
.facebook-container{
width: 35em;
height: 10em;
}

.social-image{
margin-left: 7em;
margin-top: 3em;
}

.social-image-googlePlus{
margin-left: 12em;
margin-top: 3em;
}

.social-image-twitter{
margin-left: 5em;
margin-top: 3em;
}
}
