// =========================================
//  Mixins
// =========================================


// =========== grid styles ==================
@mixin grid{
  display: grid;
}

@mixin fullScreen{
  grid-template-columns: 100%;
  @include rows;
}

@mixin rows{
  grid-template-rows: auto;
}

@mixin columnStartOne{
  grid-column-start: 1;
  grid-column-end: 2;
}

@mixin columnStartTwo{
  grid-column-start: 2;
  grid-column-end: 3;
}

@mixin ColumnStartThree{
  grid-column-start: 3;
  grid-column-end: 4;
}

@mixin rowStartOne{
  grid-row-start: 1;
  grid-row-end: 2;
}

@mixin columnRepeat{
  grid-template-columns: repeat(3, 1fr);
}



// ======= color ====================
@mixin lightPurple{
  background-color: #737ABF;
}

// white
@mixin white{
  color: white;
}

@mixin darkGreyOne{
  color: #696969;
}

@mixin darkGreyTwo{
  color: grey;
}

@mixin backgroundColorOne{
  background-color: #B3B3B3;
}

@mixin backgroundColorTwo{
  background-color: rgba(112, 112, 164, 1);
}


// ============ font styles =============
@mixin fontSizeOne{
  font-size: 1em;
}

@mixin fontSizeTwo{
  font-size: .8em;
}

@mixin fontSizeThree{
  font-size: .66em;
}

@mixin fontSizeFour{
  font-size: .9em;
}

@mixin fontSizeFive{
  font-size: 1.5em;
}

@mixin fontSizeSix{
  font-size: 1.2em;
}

@mixin fontSizeSeven{
  font-size: 1.3em;
}


@mixin letterSpacing{
  letter-spacing: .07em;
}

@mixin letterSpacingTwo{
  letter-spacing: .03em;
}

@mixin fontType{
  font-family: 'Open Sans';
}

@mixin fontWeightLight{
  font-weight: lighter;
}

@mixin fontWeightBold{
  font-weight: bold;
}

@mixin textTransform{
  text-transform: uppercase;
}


// ========= group styles ===============

@mixin groupOne{
  grid-column-start: 1;
  grid-column-end: 2;
  text-transform: uppercase;
}


// ============== border =================

@mixin borderRadius {
  border-radius: .25em;
}

@mixin borderRadiusTwo{
  border-radius: 50%;
}

@mixin borderRadiusThree{
  border-radius: .4375em;
}

@mixin borderRadiusFour{
  border-radius: .1875em;
}

@mixin borderRadiusFive{
  border-radius: .3125em;
}

@mixin borderOne{
  border: .0625em solid #dcdcdc;
}


// ============== width, height, position on page ===============
@mixin maxWidth{
  max-width: 1.1em;
}

@mixin widthOne{
  width: 20em;
}

@mixin widthTwo{
  width: 100%;
}

@mixin widthThree{
  width: 1.5625em;
}

@mixin widthFour{
  width: 2em;
}

@mixin widthFive{
  width: 484px;
}

@mixin widthSix{
  width: 13em;
}

@mixin widthSeven{
  max-width: 2em;
}

@mixin widthEight{
  width: 725px;
}

@mixin heightOne{
  height: 2.5em;
}

@mixin heightTwo{
  height: 1.75em;
}

@mixin heightThree{
  height: 0;
}

@mixin heightFour{
  height: 1.5625em;
}

@mixin heightFive{
  height: 1.5em;
}

@mixin heightSix{
  height: 2.2em;
}

@mixin heightSeven{
  height: 4.5em;
}

@mixin heightEight{
  height: 3.4em;
}


@mixin topZero{
  top: 0;
}

@mixin leftZero{
  left: 0;
}

@mixin position{
  position: absolute;
}

@mixin positionTwo{
  position: relative;
}

@mixin flexOne{
  display: flex;
}

@mixin opacityOne{
  opacity: 0;
}

@mixin textAlignOne{
  text-align: center;
}

@mixin paddingBottomOne{
  padding-bottom: 1em;
}

@mixin paddingTopOne{
  padding-top: .8em;
}

@mixin paddingRightOne{
    padding-right: 2.3em;
}


// ================ margins ================

@mixin marginZero{
  margin: 0;
}

@mixin noTop{
  margin-top: 0px;
}

@mixin marginTop{
  margin-top: 1.7em;
}

@mixin marginTopTwo{
  margin-top: .8em;
}

@mixin marginTopThree{
  margin-top: .1em;
}

@mixin marginTopFour{
  margin-top: .5em;
}

@mixin marginTopFive{
  margin-top: 1.2em;
}

@mixin marginTopSix{
  margin-top: 1.4em;
}

@mixin marginTopSeven{
  margin-top: 2em;
}

@mixin marginRightOne{
  margin-right: 4em;
}

@mixin marginRightTwo{
  margin-right: .3125em;
}

@mixin marginBottom{
  margin-bottom: .5em;
}

@mixin marginBottomTwo{
  margin-bottom: .625em;
}

@mixin marginBottonThree{
  margin-bottom: 1.4em;
}

@mixin marginBottomFour{
  margin-bottom: .4375em;
}

@mixin marginBottomFive{
  margin-bottom: .8em;
}

@mixin marginLeftZero{
  margin-left: 0em;
}

@mixin marginLeftOne{
  margin-left: .5em;
}

@mixin marginLeftTwo{
  margin-left: 1em;
}

@mixin marginLeftThree{
  margin-left: 2.5em;
}

@mixin marginLeftFour{
  margin-left: 2.8em;
}

@mixin marginLeftFive{
  margin-left: -1.25em;
}

@mixin marginLeftSix{
  margin-left: .8em;
}

@mixin marginLeftSeven{
  margin-left: .3em;
}

@mixin marginLeftEight{
  margin-left: 1.1em;
}

@mixin marginLeftNine{
  margin-left: 1.8em;
}

@mixin marginLeftTen{
  margin-left: 2em;
}

@mixin marginLeftEleven{
  margin-left: 4em;
}

@mixin marginLeftTwelve{
  margin-left: 8em;
}

@mixin marginLeftThirteen{
  margin-left: .6em;
}

@mixin marginLeftFourteen{
  margin-left: 1.0em;
}

@mixin marginLeftFifteen{
  margin-left: 9em;
}


@mixin marginLeftSixteen{
  margin-left: 7em;
}

@mixin marginLeftSeventeen{
  margin-left: 10em;
}

@mixin marginLeftEighteen{
  margin-left: 3em;
}

@mixin marginLeftNineteen{
  margin-left: 6.7em;
}

@mixin marginLeftTwenty{
  margin-left: 23em;
}

@mixin marginLeftTwentyOne{
  margin-left: 1.5em;
}
