/* settings for alert bar at 1024px */
@media (min-width: 1024px) {

.alert {
max-width: 75em;
padding-right: 73em;
@include heightThreePointFourEm;
@include fontSizePointEightEm;
}

.alertText {
margin-top: .70em;
}
.alert-banner-close{
margin-left: 71.5em;
margin-top: -2.1em;
}
}
