
/* settings for daily traffic section at 1024px */
@media (min-width: 1024px) {
.daily h3{
@include fontSizeOneEm;
@include marginLeftOneEm;
}

.mobile h3{
@include fontSizeOneEm;
margin-left: 10em;
}

#daily-chart{
  margin-left: .8em;
  max-width: 45vw;
}

#mobile-chart{
  max-width: 45vw;
  margin-left: 6em;
}

}
