/* =================================================================================================================== */
/*                                   media queries at 1024px*/
/* =================================================================================================================== */

@media (min-width: 1024px) {

header{
width: 64em;
grid-template-columns: 830px repeat(2, 50px) 94px;
}

h1{
@include marginTopPointEightEm;
@include fontSizeOnePointThreeEm;
}

.bell-icon {
margin-left: 1em;
max-width: 1.4em;
@include marginTopOnePointFourEm;
}

.vl {
margin-left: 15.3em;
margin-top: .7em;
}

.signedInUserProfilePic {
margin-left: -.1em;
@include maxWidthTwoEm;
}

.signedInUserName {
margin-left: -1em;
@include marginTopOnePointFourEm;
@include fontSizePointNineEm;
}

}
