/* settings for message user at 1024px*/
@media (min-width: 1024px) {

.form-field,
.form-area{
@include marginLeftTwoEm;
width: 30em;
}

.message{
  @include widthThirtyPointTwoFiveEm;
}

.message h3,
.settings h3{
@include fontSizeOneEm;
@include marginLeftTwoEm;
}

.form-area{
height: 11em;
}
.button-primary{
width: 31em;
@include marginLefOnePointEightEm;
}
}
