/* settings for new members and recent activity at 1024px */
@media (min-width: 1024px) {

.recentActivity h3,
.newMembers h3{
@include fontSizeOneEm;
margin-left: 3.9em;
}

.recentActivity,
 .newMembers{
  @include widthThirtyPointTwoFiveEm;
}

.recentActivity{
  @include marginLeftEightEm;
}

.date {
@include marginLeftSevenEm;
@include marginTopPointFiveEm;
@include fontSizeOnePointTwoEm;
}

.arrow {
@include marginLeftTenEm;
@include fontSizeOnePointTwoEm;
}

.newMembersName,
.members-text a{
@include fontSizeOneEm;
@include marginLeftOneEm;
width: 18.75em;
}

.activeMembersName{
width: 17em;
@include fontSizeOneEm;
@include marginLeftOneEm;
}

.timeSinceActivity{
@include marginLeftOneEm;
}

.newMembers-container img,
.recentActivity-container img{
@include marginLeftTwoEm;
}
}
