/* settings for social section at 1024px */
@media (min-width: 1024px) {
.social-text {
margin-left: -.8em;
margin-top: .2em;
@include fontSizeOnePointFiveEm;
}

.socialHeader{
@include fontSizeOneEm;
@include marginLeftThreeEm;
}

.twitter-container{
@include marginLeftOneEm;
}

.facebook-container{
@include marginLeftOneEm;
}

.googlePlus-container{
@include marginLeftOneEm;
}

.twitter-container,
.googlePlus-container,
.facebook-container{
width: 18.5em;
height: 7em;
}

.social-image{
@include marginTopTwoEm;
}

.social-image-twitter,
.social-image-googlePlus{
@include marginTopOnePointFourEm;
width: 2.2em;
@include heightTwoPointTwoEm;
}
}
