/* settings for alert bar at 1396px */
@media (min-width: 1396px) {

.alert {
margin-left: 2em;
width: 101em;
height: 3.4em;
}

.alertText {
margin-left: .8em;
margin-top: .70em;
font-size: 1.2em;
}
}
