/* =================================================================================================================== */
/*                                 media queries at 768px*/
/* =================================================================================================================== */

/* Alert bar settings for 768px */
@media (min-width: 768px) {
.alert {
margin-left: 1.5em;
max-width: 56.5em;
@include heightTwoPointTwoEm;
height: 3em;
font-size: .75em;
}

.alertText{
@include marginLeftPointEightEm;
margin-top: .30em;
}

.alert-banner-close{
margin-left: 55em;
margin-top: -2.1em;
}
}
