/* =================================================================================================================== */
/*                                 media queries at 768px*/
/* =================================================================================================================== */

/* base settings for 768px */
@media (min-width: 768px) {
body {
grid-template-columns: 55px 713px;
grid-template-areas:
"header header"
"navigation main";
}
nav{
padding-left: 0px;
}
}
