/* settings for daily traffic section at 768px */
@media (min-width: 768px) {
.midGraphs{
@include grid;
grid-template-columns: 50% 50%;
@include autoRows;
}

.daily {
@include marginLeftPointThreeEm;
}

.daily h3,
.mobile h3{
padding-bottom: .8em;
margin-left: 2em;
}

.doughnutGraphPlaceHolder,
.barGraphPlaceHolder{
width: 345px;
height: 200px;
}
}
