/* settings for dashboard at 768px */
@media (min-width: 768px) {

.headline{
margin-left: 1.1em;
font-size: 1em;
}

.main-header-search {
width: 32em;
margin-left: 1em;
}

.main-header-search input{
margin-left: 20em;
width: 18em;
height: 2.3em;
margin-top: -.3em;
}

}
