/* settings for dashboard at 768px */
@media (min-width: 768px) {

.headline{
@include marginLeftOnePointOneEm;
@include fontSizeOneEm;
}

.main-header-search {
max-width: 42em;
margin-left: -4em;
}

.main-header-search input{
margin-left: 28.8em;
max-width: 16em;
height: 2.3em;
margin-top: -.3em;
}

}
