/* settings for heading at 768px */
@media (min-width: 768px) {
header{
grid-template-columns: 572px repeat(2, 50px) 90px;
}

h1{
@include marginTopFive;
padding-left: -.2em;
}

.bell-icon {
@include marginLeftFour;
@include widthFour;
}

.vl {
margin-left: 10.7em;
margin-top: .3em;
}

.signedInUserProfilePic {
@include marginLeftNine;
margin-top: .92em;
}

.signedInUserName {
@include marginLeftTwo;
@include marginTop;
}

}
