/* settings for heading at 768px */
@media (min-width: 768px) {
header{
grid-template-columns: 576px repeat(2, 50px) 90px;
}

h1{
@include marginTopOnePointTwoEm;
padding-left: -.2em;
}

.bell-icon {
@include marginLeftTwoPointEightEm;
@include widthTwoEm;
}

.vl {
margin-left: 10.9em;
margin-top: .5em;
}

.signedInUserProfilePic {
@include marginLefOnePointEightEm;
margin-top: .92em;
}

.signedInUserName {
@include marginLeftOneEm;
@include marginOnePointSevenEm;
}

}
