/* settings for alert bar at 1500px */
@media (min-width: 1500px) {

.alert {
margin-left: 2em;
width: 111em;
height: 3.4em;
}

.alertText {
margin-left: .8em;
margin-top: .70em;
font-size: 1.2em;
}
}
