/* settings for alert bar at 1500px */
@media (min-width: 1500px) {

.alert {
@include marginLeftTwoEm;
width: 37em;
}

.alertText {
@include marginLeftPointEightEm;
}

.alert-banner-close{
margin-left: 108em;
margin-top: -2.1em;
}
}
