/* settings for daily traffic section at 1500px*/
@media (min-width: 1500px) {

.mobile h3{
margin-left: 29em;
width: 10em;
}

#daily-chart{
  margin-left: .9em;
}

#mobile-chart{
  margin-left: 24em;
}

}
