/* settings for daily traffic section at 1500px*/
@media (min-width: 1500px) {

.mobile h3{
margin-left: 24.2em;
width: 10em;
}
.doughnutGraphPlaceHolder,
.barGraphPlaceHolder{
width: 710px;
height: 380px;
}

.doughnutGraphPlaceHolder{
margin-left: 24em;
}
}
