/* settings for dashboard at 1500px*/
@media (min-width: 1500px) {

.headline{
margin-left: 1.1em;
font-size: 1.3em;
margin-top: 1em;
}

.main-header-search {
width: 77em;
margin-left: .5em;
padding-top: 1em;
padding-bottom: 2em;
}

.main-header-search input{
margin-left: 49.5em;
width: 26em;
height: 2.3em;
margin-top: .1em;
}

}
