/* settings for dashboard at 1500px*/
@media (min-width: 1500px) {

.main-header-search {
width: 80em;
padding-left: 43.2em;
@include marginLeftPointFiveEm;
}

.main-header-search input{
margin-left: 41.5em;
}

}
