/* =================================================================================================================== */
/*                                   media queries at 1500px*/
/* =================================================================================================================== */

@media (min-width: 1500px) {

header{
width: 93.5em;
grid-template-columns: 1215.2px repeat(2, 50px) 200px;
}

.bell-icon {
margin-left: 5.5em;
@include marginTopOnePointTwoEm;
}

.vl {
margin-left: 26em;
margin-top: .4em;
}

.signedInUserProfilePic {
margin-left: 5em;
}

.signedInUserName {
margin-left: 5.5em;
}

}
