/* =================================================================================================================== */
/*                                   media queries at 1500px*/
/* =================================================================================================================== */

@media (min-width: 1500px) {

header{
width: 94.7em;
grid-template-columns: 1215.2px repeat(2, 50px) 200px;
}

.bell-icon {
margin-left: 6.9em;
@include marginTopOnePointTwoEm;
}

.vl {
margin-left: 27.2em;
}

.signedInUserProfilePic {
@include marginLeftSixPointSevenEm;
}

.signedInUserName {
@include marginLeftSixPointSevenEm;
}

}
