/* settings for message user at 1500px*/
@media (min-width: 1500px) {

.form-field,
.form-area{
margin-left: 3em;
width: 42em;
height: 2.5em;
}

.message h3,
.settings h3{
margin-left: 2.5em;
}

.message{
  width: 725px;
}

.form-area{
height: 11em;
}
.button-primary{
width: 42.8em;
margin-left: 3em;
}
}
