/* settings for new members and recent activity at 1500px */
@media (min-width: 1500px) {

.newMembers,
.recentActivity{
  @include widthFortyFivePointThreeOneTwoFiveEm;
}

.recentActivity{
  @include marginLeftTwentyThreeEm;
}

.date {
margin-left: 18em;
}

.arrow {
margin-left: 20em;
}

.members-text{
@include marginLeftThreeEm;
}

.newMembers-container img,
.recentActivity-container img{
margin-left: 3.8em;
}
}
