/* settings for new members and recent activity at 1500px */
@media (min-width: 1500px) {

.newMembers,
.recentActivity{
  @include widthEight;
}

.recentActivity{
  @include marginLeftTwenty;
}

.date {
margin-left: 18em;
}

.arrow {
margin-left: 20em;
}

.members-text{
@include marginLeftEighteen;
}

.newMembers-container img,
.recentActivity-container img{
margin-left: 3.8em;
}
}
