/* settings for settings at 1500px*/

@media (min-width: 1500px) {
.button-primary2,
.button-disabled{
max-width: 21em;
margin-left: 3em;
}

.button-disabled{
margin-left: 1.5em;
}

.settings{
  width: 725px;
  margin-left: 23em;
}

.toggles{
justify-content: flex-start;
}

.toggles h3{
margin-right: 4em;
}

.setProfile{
padding-right: 2.3em;
}
}
