/* settings for social section at 1500px */
@media (min-width: 1500px) {
.social-text {
margin-left: -1.8em;
margin-top: .5em;
font-size: 1.5em;
}

.twitter-container{
margin-left: 3em;
}

.facebook-container{
margin-left: 2em;
}

.googlePlus-container{
margin-left: 1.5em;
}

.twitter-container,
.googlePlus-container,
.facebook-container{
width: 27.5em;
height: 8em;
}

.social-image{
margin-left: 4em;
margin-top: 2em;
border: .5em solid rgba(112, 112, 164, 1);
border-radius: 48%;
}

.social-image-twitter,
.social-image-googlePlus{
margin-left: 3em;
margin-top: 2em;
width: 3em;
height: 3em;
}
}
