/* settings for traffic section at 1500px*/
@media (min-width: 1500px) {

.traffic-header{
margin-left: .5em;
}

.traffic-header h3,
.traffic-nav-link{
font-size: 1em;
}

.month{
margin-right: -3em;
}

.traffic-nav{
margin-left: 84.5em;
}

.lineGraphPlaceHolder{
width: 900px;
height: 440px;
}
}
